
#backgroundBody {
    background-color: #1e1e1e;

}

.topnav {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto Condensed';
  text-align: center;
  background-color: #000000;
  overflow: hidden;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
  height: 180px;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  padding: 16px 16px 16px 16px;
  text-decoration: none;
  border-style: solid;
  border-color: #1462ba;
  border-width: 2px;
  text-align: center;
  border-radius: 50%;
  background: #120e07;

}

.topnav a:hover {
  opacity: 0.7;
  color: #000000;
  background-color: #ffffff;
  border-color: #00D1D1;
}
.topnav a.active {
  color: white;
}


.contentgif {
    text-align: center;
    color: #ffffff;
    padding: 5px;
    font-family: 'Roboto Condensed';
    background-color: #1e1e1e;
  }
  
.contentgif h3{
  color: #1462ba;
  padding: 2px;
}
.contentgif h5{
  color: #c7d4e4;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar {
    z-index: 1;
    background-color: #000000;
    overflow-x: hidden;
    padding-top: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
  
.sidebar a {
    float: center;
    color: #999297;
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    border: none;
    font-size: 20px;
    font-family: 'Roboto Condensed';
    font-weight: bold;
    display: block;

}
  
  
.sidebar a:hover {
    color: #379fe4;
}

  
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
}