<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link  rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto Condensed'>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../main.css" rel="stylesheet">



    <title>Ramazan Gül - Software Development Engineer</title>

</head>

<body id="backgroundBody">
    <div class="container">

        <div class="row topnav">
            <div class="col-md-2  col-sm-2 col-xs-2" >
                <img style="border-radius: 50%;" width="100%" src="../img/pp.jpg" alt="no image" alt="404 image"/>
            </div>
            <div class="col-md-5  col-sm-5 col-xs-5" style="color: #ddcad7;">
                <h1> RAMAZAN GÜL </h1>
                <div>
                    <a href="https://www.linkedin.com/in/ramazan-gul/" class="fa fa-linkedin" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://github.com/blackepars" class="fa fa-github" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://www.youtube.com/channel/UCH9QjER6n-9ZtluuYdfyL9g" class="fa fa-youtube" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://stackoverflow.com/users/12449793/ramazan-g%c3%bcl" class="fa fa-stack-overflow" target="_blank" rel="noopener noreferrer"></a>
        
                </div> 
            </div>
            <div class="col-md-5  col-sm-5 col-xs-5" style="color: #999297;">
                <h2> Software Development Engineer</h2>
                <h4> Python, GUI, Computer Vision, Industrial Integration</h4>
            </div>
  

        </div>

        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2  sidebar">
                <a href="../index.html"><i class="fa fa-fw fa-home"></i>HOME</a>
                <a href="user_interface.html"><i class="fa fa-fw fa-desktop"></i>GUI</a>
                <a href="computer_vision.html" style="color: #1462ba;"><i class="fa fa-fw fa-camera"></i>CV</a>
                <a href="side_works.html"><i class="fa fa-fw fa-server"></i>OTHER</a>
            </div>

            <div class="col-md-10 col-sm-10 col-xs-10  content">
                <div class="thumbnail contentgif">
                    <a href="../gifs/feature_extraction.gif" target="_blank">
                    <img src="../gifs/feature_extraction.gif" alt="no image" style="width:100%">
                    <h3>Object Detection with Feature Extraction(ORB)<a href="https://github.com/blackepars/feature_extraction_gui.git">(Source Code)</a></h3>

                    </a>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12  col-sm-12 col-xs-12 footer" >
                <p>Beta Version || Created by Ramazan Gül © 2022</p>
            </div>
        </div>



    </div>


</body>
</html>