<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../main.css" rel="stylesheet">

    <title>Ramazan Gül - Software Development Engineer</title>

</head>

<body id="backgroundBody">
    <div class="topnav">
        <div class="row contentgif">
            <div class="column" >
                <img style="border-radius: 50%;" src="../img/pp.jpg" alt="no image"  width="30%" alt="404 image"/>
            </div>
            <div class="column" style="color: #ddcad7;">
                <h1 style="font-size:300%;"> RAMAZAN GÜL </h1>
                <div>
                    <a href="https://www.linkedin.com/in/ramazan-gul/" class="fa fa-linkedin" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://github.com/blackepars" class="fa fa-github" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://www.youtube.com/channel/UCH9QjER6n-9ZtluuYdfyL9g" class="fa fa-youtube" target="_blank" rel="noopener noreferrer"></a>
                    <a href="https://stackoverflow.com/users/12449793/ramazan-g%c3%bcl" class="fa fa-stack-overflow" target="_blank" rel="noopener noreferrer"></a>
        
                </div> 
            </div>
            <div class="column" style="color: #999297;">
                <p style="font-size: 200%;"> Software Development Engineer</p>
                <p style="font-size: 160%;"> Python, GUI, Computer Vision, Industrial Integration</p>
            </div>
  

        </div>
    </div>


    <div class="sidebar">
        <a href="../index.html"><i class="fa fa-fw fa-home"></i> HOME</a>
        <a href="user_interface.html"><i class="fa fa-fw fa-desktop"></i> GUI</a>
        <a href="computer_vision.html"><i class="fa fa-fw fa-camera"></i> CV </a>
        <a href="side_works.html"><i class="fa fa-fw fa-server"></i> OTHERS</a>

    </div>


    <div class="contentgif">
        <h3>SIEMENS MODBUS(RTU) Communication </h3>
        <img src="../gifs/siemens_modbus.gif" alt="no image"  width="40%" alt="404 image"/>
    </div>


    <div class="footer">
        <p>Beta Version || Created by Ramazan Gül © 2022</p>
    </div>




</body>



</html>